<html>
  <body>
  <div class="card-body">
    <h1>Voici le contenu du potin n°<%=params['index']%> : </h1>
    <p>
    </p>
    <a href='/'>Lien pour revenir à la page d'accueil</a>
  </div>
  </body>
</html>
